.links {
  display: flex;
  align-items: center;
  margin: 32px 0;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  &__item,
  &__separator {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #989898;
    text-decoration: none;
  }
  &__separator {
    margin: 0 2px;
  }

  @media (max-width: 768px) {
    margin: 16px 0 40px;
    justify-content: center;
    &__item,
    &__separator {
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }
  }
}
