.therapist-block {
  padding-top: 81px;
  width: 100%;
  position: relative;
  z-index: 1;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  &__main {
    width: 847px;
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    text-transform: uppercase;

    /* Phinity black */

    color: #222426;

    opacity: 0.8;
    margin-bottom: 56px;
  }

  .up {
    transform: translateY(200%);
    transition: 1s transform cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &.animated {
      transform: translateY(0);
    }
  }

  &__list {
    display: flex;
    width: 847px;
    overflow: hidden;
  }

  &__vector {
    position: absolute;
    left: -80px;
    top: 100px;
    transition: 3s linear transform;
  }

  &__item {
    height: 224px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 16px;

    &:first-child {
      padding-left: 0;
    }
    &-num {
      font-family: 'MADE Mirage';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

      text-transform: uppercase;

      color: #222426;

      opacity: 0.8;
    }
    &-title {
      font-family: 'MADE Mirage';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 4px;

      &::after {
        content: '';
        display: block;
        top: 100%;
        width: 51px;
        height: 1px;
        background: #222426;
      }
    }
    &-text {
      flex-grow: 1;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      display: flex;
      align-items: flex-end;

      opacity: 0.8;
    }

    &:not(:first-child) {
      border-left: 1px solid #222426;
    }
    &:last-child {
      padding-right: 0;
    }

    transition: 1s transform cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:first-child {
      transform: translateY(200%);
    }
    &:nth-child(2) {
      transform: translateY(-200%);
    }
    &:last-child {
      transform: translateY(200%);
    }
    &.animated {
      transform: translateY(0);
    }
  }

  &__sub {
    margin-top: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #222426;

    width: 522px;

    opacity: 0.8;
    &.up {
      transition-delay: 2s;
    }
  }

  @media (max-width: 900px) {
    &__main {
      width: 100%;
      text-align: center;
    }

    &__list {
      width: 100%;
    }

    &__item {
      width: calc(100% / 3);
    }
    &__sub {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media (max-width: 768px) {
    margin-top: 64px;
    padding-top: 0;

    &__main {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    &__item {
      &-num {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
      }
      &-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
      }
      &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
      }

      &:first-child,
      &:nth-child(2),
      &:last-child {
        transform: none;
        transition: 1s opacity cubic-bezier(0.45, 0.05, 0.55, 0.95);
      }

      &.animated {
        opacity: 1;
      }
    }

    &__sub {
      margin-top: 32px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }

  @media (max-width: 600px) {
    &__main {
      margin-bottom: 0;
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      margin-top: 32px;
      width: 100%;
      height: auto;
      &:not(:first-child) {
        border-left: none;
      }
      padding: 0;
      &-text {
        flex-grow: 0;
      }
    }

    &__sub {
      margin: 32px 0 0;
      text-align: left;
      width: 100%;
    }
  }
}
